.rightbox, .rightboxprimary, .rightboxseconda, .rightboxsecondb, .rightboxcomp,
.centerbox, .centerboxprimary, .centerboxseconda, .centerboxsecondb,
.centerboxcomp, .advice, .problem, .scenario, .blindblock, aside, iframe, textarea, div.toggleblock, pre.code, textarea.code, figure img, img.figure, p.figure img, p.borderfigure img, p.rightfigure img, figure.submitfigure, .shadow, table {
  -moz-box-shadow: 3px 3px 8px #ccc;
  -webkit-box-shadow: 3px 3px 8px #ccc;
  box-shadow: 3px 3px 8px #ccc;
  margin-bottom: 1em; }

div.remote-exec .left textarea, div.remote-exec .right pre, div.play-area .left textarea, div.play-area .right pre, .noshadow, .noshadow img {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

body, div, header, footer {
  border: 0;
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
           http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'InconsolataMedium';
  src: url("fonts/Inconsolata-webfont.eot");
  src: url("fonts/Inconsolata-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Inconsolata-webfont.woff") format("woff"), url("fonts/Inconsolata-webfont.ttf") format("truetype"), url("fonts/Inconsolata-webfont.svg") format("svg");
  /* fonts/Inconsolata-webfont.svg#InconsolataMedium */
  font-weight: normal;
  font-style: normal; }
p.shoutout {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold; }

.center {
  text-align: center; }

.large {
  font-size: 1.5em; }

.small {
  font-size: 0.85em; }

.setoff {
  margin-top: 2em;
  margin-bottom: 2em; }

.rightbox, .rightboxprimary, .rightboxseconda, .rightboxsecondb, .rightboxcomp,
.centerbox, .centerboxprimary, .centerboxseconda, .centerboxsecondb,
.centerboxcomp, .advice, .problem, .scenario, .blindblock, aside, iframe, textarea, div.toggleblock, pre.code, textarea.code, figure img, img.figure, p.figure img, p.borderfigure img, p.rightfigure img, figure.submitfigure, .shadow, table {
  -moz-box-shadow: 3px 3px 8px #ccc;
  -webkit-box-shadow: 3px 3px 8px #ccc;
  box-shadow: 3px 3px 8px #ccc;
  margin-bottom: 1em; }

div.remote-exec .left textarea, div.remote-exec .right pre, div.play-area .left textarea, div.play-area .right pre, .noshadow, .noshadow img {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

header.cl-site {
  color: #eeeeee;
  background-color: #535054;
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  width: 100%;
  border-bottom: 1px solid black; }
  header.cl-site div.heading {
    max-width: 56em;
    width: 100%;
    margin: 0 auto; }
  header.cl-site h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2em;
    margin: 0;
    padding: 8px;
    width: 100%; }
    header.cl-site h1 a {
      text-decoration: none;
      color: #eeeeee; }
  header.cl-site nav {
    width: 100%;
    background: url("img/nav_pattern.png");
    margin: 0;
    padding: 0; }
  header.cl-site ul {
    max-width: 56em;
    margin: 0 auto;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none; }
    header.cl-site ul li {
      display: inline-block;
      border: 0;
      border-right: 1px solid #c2d95d;
      padding: 3px 14px;
      margin: 0; }
      header.cl-site ul li a {
        font-size: 16px;
        line-height: 18px;
        outline: none;
        text-decoration: none;
        color: white;
        cursor: pointer; }
        header.cl-site ul li a span {
          display: inline-block;
          background: url(img/white-home.png) center no-repeat;
          text-indent: -9999px;
          width: 30px;
          height: 13px; }
      header.cl-site ul li a:link, header.cl-site ul li a:active, header.cl-site ul li a:hover {
        color: white; }
      header.cl-site ul li a:hover {
        color: #ffcccc; }
    header.cl-site ul li:last-child {
      border: 0; }

footer.cl-site {
  margin: 0 auto;
  padding: 8px;
  min-width: 320px;
  max-width: 56em;
  width: 100%;
  border-top: 1px solid black; }
  footer.cl-site p {
    margin: 0;
    font-size: 0.85em;
    text-align: right; }

/**
 * @file
 * The top-level div for content in the standard two-column format
 * is div.content. This page includes the styles in relation to
 * div.content.
 */
div.content {
  position: relative;
  max-width: 56em;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto; }
  div.content > p, div.content > div.centerbox, div.content > div.centerboxprimary, div.content > div.centerboxcomp, div.content > div.centerboxseconda, div.content > div.centerboxsecondb, div.content > pre, div.content > div.toggleblock, div.content > ul, div.content > ol, div.content > form, div.content > .advice, div.content > .left, div.content > div.problem, div.content > div.scenario, div.content > div.toggle, div.content > figure {
    margin-left: 0;
    margin-right: 16em; }
  div.content > h3 {
    margin-right: 13.33em; }
  div.content > p.shoutout {
    margin-right: 12.3em; }
  div.content > .full, div.content > div.full {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    max-width: none; }
  div.content > p.rightbox, div.content > p.rightboxprimary, div.content > p.rightboxcomp, div.content > p.rightboxseconda, div.content > p.rightboxsecondb, div.content > p.problemright, div.content > p.scenarioright {
    margin-right: 0; }
  div.content > .right, div.content > figure.right, div.content > figure.maybe-right {
    box-sizing: border-box;
    width: 15.5em;
    position: absolute;
    padding: 0;
    right: 0;
    margin-right: 0; }
  div.content > figure {
    overflow: visible;
    text-align: center; }
  div.content > figure img {
    margin: 0.5em auto; }
  div.content > .scroll {
    overflow: auto; }
  div.content > p.figure {
    position: relative;
    max-width: 100%;
    text-align: center;
    margin: 0.5em auto;
    overflow: hidden; }

div.content > .width60 {
  width: 60%;
  margin: 0 auto; }

div.content > p.vsrun, div.content > p.run, div.content > p.compile, div.content > p.vsbuild {
  margin-right: 17em; }

div.wide div.content {
  max-width: none; }

@media only screen and (max-width: 750px) {
  div.content > p, div.content > div.centerbox, div.content > div.centerboxprimary, div.content > div.centerboxcomp, div.content > div.centerboxseconda, div.content > div.centerboxsecondb, div.content > pre, div.content > div.toggleblock, div.content > div.toggle, div.content > ul, div.content > ol, div.content > form, div.content > .advice, div.content > .left, div.content > div.problem, div.content > div.scenario, div.content > figure {
    margin-right: 5px; }
  div.content > .right, div.content > figure.right, div.content > figure.maybe-right {
    width: 15em;
    position: relative;
    padding: 0;
    margin: 0 auto; } }
nav.cl-lti-admin {
  width: 100%;
  background: url("img/nav_pattern.png");
  margin: 0;
  padding: 0; }
  nav.cl-lti-admin ul {
    max-width: 56em;
    margin: 0 auto;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none; }
    nav.cl-lti-admin ul li {
      display: inline-block;
      border: 0;
      border-right: 1px solid #c2d95d;
      padding: 3px 14px;
      margin: 0; }
      nav.cl-lti-admin ul li a {
        font-size: 16px;
        line-height: 18px;
        outline: none;
        text-decoration: none;
        color: white;
        cursor: pointer; }
        nav.cl-lti-admin ul li a span {
          display: inline-block;
          background: url(img/sprite-ico-home.png) center -45px no-repeat;
          text-indent: -9999px;
          width: 30px;
          height: 13px; }
      nav.cl-lti-admin ul li a:link, nav.cl-lti-admin ul li a:active, nav.cl-lti-admin ul li a:hover {
        color: white; }
      nav.cl-lti-admin ul li a:hover {
        color: #ffcccc; }
    nav.cl-lti-admin ul li:last-child {
      border: 0; }

div.cl-lti-admin div.adminhome {
  max-width: 500px;
  border: thin solid black;
  padding: 1em;
  margin: 1em auto; }
  div.cl-lti-admin div.adminhome h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center; }

.rightbox, .rightboxprimary, .rightboxseconda, .rightboxsecondb, .rightboxcomp,
.centerbox, .centerboxprimary, .centerboxseconda, .centerboxsecondb,
.centerboxcomp, .advice, .problem, .scenario, .blindblock, aside, iframe, textarea, div.toggleblock, pre.code, textarea.code, figure img, img.figure, p.figure img, p.borderfigure img, p.rightfigure img, figure.submitfigure, .shadow, table {
  -moz-box-shadow: 3px 3px 8px #ccc;
  -webkit-box-shadow: 3px 3px 8px #ccc;
  box-shadow: 3px 3px 8px #ccc;
  margin-bottom: 1em; }

div.remote-exec .left textarea, div.remote-exec .right pre, div.play-area .left textarea, div.play-area .right pre, .noshadow, .noshadow img {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.rightbox, .rightboxprimary, .rightboxseconda, .rightboxsecondb, .rightboxcomp,
.centerbox, .centerboxprimary, .centerboxseconda, .centerboxsecondb,
.centerboxcomp, .advice, .problem, .scenario, .blindblock, aside {
  background: #00723f;
  /* Default color */
  color: white; }
  .rightbox p:first-child, .rightboxprimary p:first-child, .rightboxseconda p:first-child, .rightboxsecondb p:first-child, .rightboxcomp p:first-child,
  .centerbox p:first-child, .centerboxprimary p:first-child, .centerboxseconda p:first-child, .centerboxsecondb p:first-child,
  .centerboxcomp p:first-child, .advice p:first-child, .problem p:first-child, .scenario p:first-child, .blindblock p:first-child, aside p:first-child {
    margin-top: 0; }
  .rightbox p:last-child, .rightboxprimary p:last-child, .rightboxseconda p:last-child, .rightboxsecondb p:last-child, .rightboxcomp p:last-child,
  .centerbox p:last-child, .centerboxprimary p:last-child, .centerboxseconda p:last-child, .centerboxsecondb p:last-child,
  .centerboxcomp p:last-child, .advice p:last-child, .problem p:last-child, .scenario p:last-child, .blindblock p:last-child, aside p:last-child {
    margin-bottom: 0; }

.centerbox, .centerboxprimary, .centerboxseconda, .centerboxsecondb,
.centerboxcomp, .advice, .problem, .scenario, .blindblock {
  padding: 8px;
  border: 1px ridge black;
  overflow: auto;
  max-width: 40em;
  margin: 1em auto; }

.rightbox, .rightboxprimary, .rightboxseconda,
.rightboxsecondb, .rightboxcomp, .problemright, .scenarioright, aside {
  box-sizing: border-box;
  width: 15.5em;
  position: absolute;
  right: 0;
  padding: 10px;
  margin: 0 0 1em 0;
  border: 1px ridge black;
  text-align: left;
  z-index: 100; }

@media only screen and (max-width: 750px) {
  .rightbox, .rightboxprimary, .rightboxseconda,
  .rightboxsecondb, .rightboxcomp, .problemright, .scenarioright, aside {
    position: relative;
    width: auto;
    overflow: auto;
    padding: 8px;
    margin: 1em auto; } }
.rightbox, .rightboxprimary, .rightboxseconda, .rightboxsecondb, .rightboxcomp,
.centerbox, .centerboxprimary, .centerboxseconda, .centerboxsecondb,
.centerboxcomp, .advice, .problem, .scenario, .blindblock, aside, iframe, textarea, div.toggleblock, pre.code, textarea.code, figure img, img.figure, p.figure img, p.borderfigure img, p.rightfigure img, figure.submitfigure, .shadow, table {
  -moz-box-shadow: 3px 3px 8px #ccc;
  -webkit-box-shadow: 3px 3px 8px #ccc;
  box-shadow: 3px 3px 8px #ccc;
  margin-bottom: 1em; }

div.remote-exec .left textarea, div.remote-exec .right pre, div.play-area .left textarea, div.play-area .right pre, .noshadow, .noshadow img {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

div.dialog-cl-top {
  background-color: #00723f !important;
  background: linear-gradient(#204c42, #389b54) !important;
  color: white !important; }

div.dialog p, div.dialog h1, div.dialog h2 {
  margin: 1em 0 1em 0; }
div.dialog h1 {
  font-size: 1.65em;
  margin-bottom: 0.5em; }
div.dialog form {
  width: 95%; }
div.dialog input[type="text"], div.dialog input[type="file"], div.dialog select {
  margin: 0;
  width: 95%;
  padding: .4em; }
div.dialog .slider {
  margin-left: 10px;
  width: 90%; }
div.dialog .slider-label {
  width: 90%;
  text-align: center;
  margin-bottom: 0; }
div.dialog fieldset {
  padding: 0;
  border: 0; }
div.dialog p.error {
  color: red;
  font-size: 0.85em;
  text-align: center; }

.rightbox, .rightboxprimary, .rightboxseconda, .rightboxsecondb, .rightboxcomp,
.centerbox, .centerboxprimary, .centerboxseconda, .centerboxsecondb,
.centerboxcomp, .advice, .problem, .scenario, .blindblock, aside, iframe, textarea, div.toggleblock, pre.code, textarea.code, figure img, img.figure, p.figure img, p.borderfigure img, p.rightfigure img, figure.submitfigure, .shadow, table {
  -moz-box-shadow: 3px 3px 8px #ccc;
  -webkit-box-shadow: 3px 3px 8px #ccc;
  box-shadow: 3px 3px 8px #ccc;
  margin-bottom: 1em; }

div.remote-exec .left textarea, div.remote-exec .right pre, div.play-area .left textarea, div.play-area .right pre, .noshadow, .noshadow img {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

div.menu {
  position: relative;
  float: right;
  font-size: 0.75rem; }
  div.menu .ui-menu-content, div.menu .ui-state-focus {
    background-color: #008183;
    color: black; }
  div.menu > a {
    text-decoration: none; }
  div.menu ul {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: #e8e8e8;
    list-style-type: none;
    list-style-image: none;
    z-index: 120;
    padding: 0.25em 0.5em;
    margin: 0;
    border: 1px solid #e8e8e8; }
    div.menu ul > li {
      display: table-row;
      list-style-type: none;
      list-style-image: none;
      margin-left: 5px;
      margin-right: 10px;
      white-space: nowrap;
      line-height: 18px; }
      div.menu ul > li > a {
        display: table-cell;
        padding-right: 0.5em;
        text-decoration: none; }
  div.menu li img {
    width: 16px;
    height: 16px;
    vertical-align: top;
    max-width: none; }
  div.menu li span.menusep {
    display: table-cell;
    background: black;
    height: 1px;
    margin: 5px 0; }
  div.menu .only {
    width: 8em;
    padding-left: 5px;
    font-size: 90%;
    font-style: italic; }

div.content > p.slideshow {
  max-width: 100%;
  margin-right: 0; }

p.slideshow {
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e0e0e0;
  padding-top: 3pt;
  padding-left: 3pt;
  padding-right: 4pt;
  padding-bottom: 3pt;
  text-align: center;
  -moz-box-shadow: 6pt 6px 10pt #888;
  -webkit-box-shadow: 6pt 6px 10pt #888;
  box-shadow: 6pt 6px 10pt #888; }

p.slideshow img {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3pt;
  padding-bottom: 0pt;
  border: 1px solid black; }

p.slideshow img.transport {
  width: 25px;
  height: 25px;
  border: 0pt; }

div.remote-exec {
  width: 100%;
  margin: 1em 0 1em 0;
  display: table;
  table-layout: fixed;
  position: relative; }
  div.remote-exec .bar {
    margin: 0;
    padding: 0;
    background-color: #e8d9b5; }
  div.remote-exec h2.menubar {
    position: relative;
    width: auto;
    padding: 0;
    margin: 0;
    background: #e8d9b5;
    font-size: 1.3em;
    border: 1px solid #aaa;
    text-align: center;
    height: 1.3em; }
  div.remote-exec .left {
    position: relative;
    display: table-cell;
    width: 50%;
    margin: 0;
    padding: 0 5px;
    vertical-align: top; }
    div.remote-exec .left .left > div {
      position: absolute;
      left: 5px;
      right: 5px;
      padding: 0 5px; }
    div.remote-exec .left textarea {
      height: 25em;
      margin: 0;
      width: 100%;
      box-sizing: border-box;
      border-top: 0;
      border-left: thin solid #aaa;
      border-right: thin solid #aaa; }
    div.remote-exec .left textarea:focus {
      outline: none; }
  div.remote-exec .right {
    display: table-cell;
    width: 50%;
    margin: 0;
    padding: 0 5px;
    vertical-align: top; }
    div.remote-exec .right pre {
      height: 25em;
      margin: 0;
      box-sizing: border-box;
      border-top: 0;
      border-left: thin solid #aaa;
      border-right: thin solid #aaa; }

form.remote-exec p {
  margin: 0.25em 0; }
form.remote-exec button {
  width: 8em; }

div.play-area {
  width: 100%;
  margin: 1em 0 1em 0;
  display: table;
  table-layout: fixed;
  position: relative; }
  div.play-area .bar {
    margin: 0;
    padding: 0;
    background-color: #e8d9b5; }
  div.play-area h2.menubar {
    position: relative;
    width: auto;
    padding: 0 0.25em;
    margin: 0;
    background: #e8d9b5;
    font-size: 1.3em;
    border: 1px solid #aaa;
    text-align: center;
    height: 1.3em; }
    div.play-area h2.menubar div.buttons {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 0.77em;
      font-weight: normal;
      padding-right: 0.25em; }
      div.play-area h2.menubar div.buttons button {
        padding: 0 0.5em; }
  div.play-area .left {
    position: relative;
    display: table-cell;
    width: 50%;
    margin: 0;
    padding: 0 5px;
    vertical-align: top; }
    div.play-area .left .left > div {
      position: absolute;
      left: 5px;
      right: 5px;
      padding: 0 5px; }
    div.play-area .left textarea {
      height: 25em;
      margin: 0;
      width: 100%;
      box-sizing: border-box;
      border-top: 0;
      border-left: thin solid #aaa;
      border-right: thin solid #aaa; }
    div.play-area .left textarea:focus {
      outline: none; }
  div.play-area .right {
    position: relative;
    display: table-cell;
    width: 50%;
    margin: 0;
    padding: 0 5px;
    vertical-align: top; }
    div.play-area .right div.msg {
      position: absolute;
      top: 4em;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 1em;
      font-weight: normal;
      color: red;
      font-style: italic;
      padding-right: 0.5em;
      z-index: 10;
      display: none; }
    div.play-area .right pre {
      height: 25em;
      margin: 0;
      box-sizing: border-box;
      border-top: 0;
      border-left: thin solid #aaa;
      border-right: thin solid #aaa; }

form.remote-exec p {
  margin: 0.25em 0; }
form.remote-exec button {
  width: 8em; }

body {
  font-size: 0.875em;
  font-family: Verdana, Geneva, sans-serif;
  text-decoration: none;
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  width: 100%; }

#body, .body {
  background-color: white;
  position: relative;
  width: 100%;
  margin: 0 auto;
  min-width: 575px;
  max-width: 1000px;
  padding: 0; }

div.wide {
  max-width: none; }

h2 {
  font-family: sans-serif;
  font-size: 1.3em;
  border-bottom: 1px solid #000000;
  padding: 0;
  margin-left: 0;
  margin-right: 0; }

h3 {
  font-family: sans-serif;
  font-size: 1.2em;
  margin-left: 0;
  margin-right: 0; }

h4 {
  font-family: sans-serif;
  font-size: 1em;
  margin-left: 0;
  margin-right: 0; }

p {
  text-align: justify;
  margin-left: 0;
  margin-right: 0; }

p.nojustify {
  text-align: left; }

a {
  font-family: Verdana, Geneva, sans-serif;
  color: #8A8A8A;
  text-decoration: underline;
  cursor: pointer; }

a:link {
  color: #8A8A8A;
  text-decoration: underline; }

a:visited {
  color: #B09D5B;
  text-decoration: underline; }

a:hover {
  color: #3366cc;
  text-decoration: underline; }

ul.top {
  list-style-type: none; }

ul.sub {
  list-style-type: disc; }

li {
  margin-right: 30pt;
  text-align: left; }

ul li {
  list-style-image: url("img/bullet2.png");
  margin-top: 0px;
  margin-bottom: 0px; }

ul li ul {
  margin-top: 0px;
  margin-bottom: 0px; }

@media only screen and (max-width: 750px) {
  #body, .body {
    min-width: 500px;
    max-width: 750px; } }
@media only screen and (max-width: 500px) {
  h2 {
    font-size: 1.3em; }

  #body, .body {
    min-width: 300px;
    max-width: 500px; } }
/**
 * @file
 * The top-level div for content in the standard two-column format
 * is div.content. This page includes the styles in relation to
 * div.content.
 */
div.content {
  position: relative;
  max-width: 56em;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto; }
  div.content > p, div.content > div.centerbox, div.content > div.centerboxprimary, div.content > div.centerboxcomp, div.content > div.centerboxseconda, div.content > div.centerboxsecondb, div.content > pre, div.content > div.toggleblock, div.content > ul, div.content > ol, div.content > form, div.content > .advice, div.content > .left, div.content > div.problem, div.content > div.scenario, div.content > div.toggle, div.content > figure {
    margin-left: 0;
    margin-right: 16em; }
  div.content > h3 {
    margin-right: 13.33em; }
  div.content > p.shoutout {
    margin-right: 12.3em; }
  div.content > .full, div.content > div.full {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    max-width: none; }
  div.content > p.rightbox, div.content > p.rightboxprimary, div.content > p.rightboxcomp, div.content > p.rightboxseconda, div.content > p.rightboxsecondb, div.content > p.problemright, div.content > p.scenarioright {
    margin-right: 0; }
  div.content > .right, div.content > figure.right, div.content > figure.maybe-right {
    box-sizing: border-box;
    width: 15.5em;
    position: absolute;
    padding: 0;
    right: 0;
    margin-right: 0; }
  div.content > figure {
    overflow: visible;
    text-align: center; }
  div.content > figure img {
    margin: 0.5em auto; }
  div.content > .scroll {
    overflow: auto; }
  div.content > p.figure {
    position: relative;
    max-width: 100%;
    text-align: center;
    margin: 0.5em auto;
    overflow: hidden; }

div.content > .width60 {
  width: 60%;
  margin: 0 auto; }

div.content > p.vsrun, div.content > p.run, div.content > p.compile, div.content > p.vsbuild {
  margin-right: 17em; }

div.wide div.content {
  max-width: none; }

@media only screen and (max-width: 750px) {
  div.content > p, div.content > div.centerbox, div.content > div.centerboxprimary, div.content > div.centerboxcomp, div.content > div.centerboxseconda, div.content > div.centerboxsecondb, div.content > pre, div.content > div.toggleblock, div.content > div.toggle, div.content > ul, div.content > ol, div.content > form, div.content > .advice, div.content > .left, div.content > div.problem, div.content > div.scenario, div.content > figure {
    margin-right: 5px; }
  div.content > .right, div.content > figure.right, div.content > figure.maybe-right {
    width: 15em;
    position: relative;
    padding: 0;
    margin: 0 auto; } }
pre {
  margin-left: 0;
  margin-right: 0; }

code, .code {
  font-family: 'InconsolataMedium', Arial, sans-serif;
  font-weight: bold;
  color: #0014e5; }

/* Place where we can present and enter code */
pre.code, pre.code1, textarea.code, textarea.code1,
.ui-widget textarea.code1, pre > code {
  display: block;
  font-family: 'InconsolataMedium', Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #333333;
  background: url("img/bars.png") repeat;
  border: 1px black solid;
  tab-size: 4;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  white-space: pre;
  word-wrap: normal;
  padding: 6pt;
  line-height: 16px;
  clear: both;
  overflow: auto; }

textarea.code, pre.codeback {
  box-sizing: border-box;
  background: url("img/codeback.png") no-repeat, url("img/bars.png") repeat;
  padding-left: 30px;
  white-space: pre;
  word-wrap: normal;
  overflow: auto; }

pre.code1 {
  margin-bottom: 0; }

pre.small {
  font-size: 0.9em; }

pre.large {
  font-size: 1.5em; }

pre.tiny {
  font-size: 0.7em; }

@media only screen and (max-width: 750px) {
  div.content > pre.code {
    margin-right: 0; } }
figure {
  box-sizing: border-box;
  margin: 1em 0; }

figure.submitfigure {
  margin: 0 0.5em;
  overflow: auto;
  border: 1px solid black; }

figure.submitfigure img {
  max-width: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

figure figcaption {
  text-align: center; }

figure.border img {
  border: 1px solid black; }

.scroll {
  overflow-x: scroll; }

figure.scroll img {
  max-width: none; }

img {
  max-width: 100%;
  height: auto; }

.right figure img {
  max-width: 15em;
  height: auto; }

p.rightfigure img {
  width: 15em;
  position: absolute;
  padding: 0;
  right: 0; }

figure figcaption {
  font-size: 0.9em;
  font-style: italic;
  margin-top: 0; }

img.inline-image {
  vertical-align: baseline; }

p.figure, p.borderfigure, p.figurenoshadow {
  text-align: center;
  overflow: auto; }

p.borderfigure img {
  border: 1px solid black; }

p.figure, p.borderfigure {
  padding-bottom: 10pt;
  margin-bottom: -10pt; }

.singlespace {
  margin-top: 0;
  margin-bottom: 0; }

.small {
  font-size: 0.9em; }

.large {
  font-size: 1.5em; }

.pdf, .smallred {
  color: #cc0000;
  font-size: 0.85em;
  font-style: italic; }

.smallblu {
  color: #0000cc;
  font-size: 0.9em;
  font-style: italic; }

.smallgrn {
  color: #008800;
  font-size: 0.9em;
  font-style: italic; }

.underline {
  text-decoration: underline; }

.strikethrough {
  text-decoration: line-through; }

.tiny {
  font-size: 0.7em; }

.noborder {
  border-width: 0px; }

.center {
  text-align: center; }

div.center p {
  text-align: center; }

p.right {
  text-align: right; }

.vcenter {
  vertical-align: middle; }

.highlight {
  background-color: #FFFF00; }

.zipfile {
  text-align: center; }

.zipfile img {
  vertical-align: middle;
  border: 0px; }

.clear {
  clear: both; }

hr {
  color: black;
  background-color: black;
  height: 1px;
  margin-left: 5px;
  margin-right: 5px; }

.mobile {
  display: none; }

.float-right {
  float: right; }

.indent {
  padding-left: 3em;
  padding-right: 3em; }

div.maxwidth {
  max-width: 500pt;
  margin-left: auto;
  margin-right: auto; }

iframe.html {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }

iframe.wide {
  width: 100%; }

a.tip {
  border-bottom: #999 1px dashed;
  text-decoration: none; }

a.tip:hover {
  cursor: help;
  position: relative; }

a.tip span {
  display: none; }

a.tip:hover span {
  background: yellow;
  border: #444 1px solid;
  padding: 2px 20px 2px 5px;
  display: block;
  z-index: 100;
  left: 10px;
  margin: 10px;
  width: 10em;
  position: absolute;
  top: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 11px; }

@media only screen and (max-width: 750px) {
  .nomobile {
    display: none; }

  .mobile {
    display: inherit; } }
p.backto {
  vertical-align: middle;
  min-height: 25px;
  background: url(images/previcon.png);
  background-repeat: no-repeat;
  padding-left: 40px;
  border: 0px;
  padding-top: 2px; }

.rightbox, .rightboxprimary, .rightboxseconda, .rightboxsecondb, .rightboxcomp,
.centerbox, .centerboxprimary, .centerboxseconda, .centerboxsecondb,
.centerboxcomp, .advice, .problem, .scenario, .blindblock, aside, iframe, textarea, div.toggleblock, pre.code, textarea.code, figure img, img.figure, p.figure img, p.borderfigure img, p.rightfigure img, figure.submitfigure, .shadow, table {
  -moz-box-shadow: 3px 3px 8px #ccc;
  -webkit-box-shadow: 3px 3px 8px #ccc;
  box-shadow: 3px 3px 8px #ccc;
  margin-bottom: 1em; }

div.remote-exec .left textarea, div.remote-exec .right pre, div.play-area .left textarea, div.play-area .right pre, .noshadow, .noshadow img {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

/**
 * @file
 * Default style for tables for a CourseLib site
 * @cond
 */
table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 0; }
  table tr th {
    color: white;
    background: #389b54;
    text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    letter-spacing: 1px;
    text-align: right;
    padding: 0.25em 6px;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none; }
    table tr th input[type=checkbox] {
      margin-top: 3px; }
  table tr th.center {
    text-align: center; }
  table tr:first-child th {
    color: white;
    background: #204c42;
    background: linear-gradient(#204c42, #389b54);
    text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 1px;
    text-align: left;
    padding: 2px 6px;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none; }
    table tr:first-child th a:link {
      color: #F5F3EB; }
    table tr:first-child th a:visited {
      color: #E3DCC5; }
    table tr:first-child th a:hover {
      color: #ffffff; }
  table tr:first-child th.center {
    text-align: center; }
  table th.width40 {
    width: 20%; }
  table th.width40em {
    width: 40em; }
  table th.width20em {
    width: 20em; }
  table td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #ffffff;
    padding: 0.25em 0.75em;
    color: #4f6b72;
    /* white-space: nowrap; */ }
    table td a:link {
      color: #8A8A8A;
      text-decoration: underline; }
    table td a:visited {
      color: #B09D5B;
      text-decoration: underline; }
    table td a:hover {
      color: #3366cc;
      text-decoration: underline; }
  table tr.vertical {
    height: 12em; }
    table tr.vertical th {
      font-size: 0.9em;
      width: 1em;
      white-space: nowrap;
      position: relative; }
      table tr.vertical th div {
        position: absolute;
        transform: translate(-5.5em, -5.4em) rotate(-90deg);
        width: 11em;
        z-index: 10;
        left: 50%;
        bottom: 0; }
  table td.colhead {
    border-top: 1px solid #E6F0EF;
    border-left: 1px solid #E6F0EF;
    border-right: 1px solid #A8CCC8;
    border-bottom: 1px solid #A8CCC8;
    padding-right: 10px;
    padding-left: 10px; }
  table td.indent {
    padding-left: 2em; }
  table td.grouphead {
    padding-left: 0.5em;
    font-style: italic; }
  table tr.skip {
    border: none; }

table.wide {
  width: 80%; }

table.truth-table, table.truth-table-1 {
  border: 0; }
  table.truth-table tr:first-child, table.truth-table-1 tr:first-child {
    border-bottom: thin solid black; }
    table.truth-table tr:first-child td, table.truth-table-1 tr:first-child td {
      color: black;
      background: white;
      text-align: center;
      border: 0;
      text-shadow: none;
      font-weight: bold; }
  table.truth-table tr.split, table.truth-table-1 tr.split {
    border-bottom: thin dotted #888888; }
  table.truth-table th, table.truth-table-1 th {
    color: black;
    background: white;
    text-align: center;
    border: 0;
    text-shadow: none;
    font-weight: bold; }
  table.truth-table td, table.truth-table-1 td {
    text-align: center;
    border: 0; }
    table.truth-table td input, table.truth-table-1 td input {
      width: 3em;
      text-align: center; }
  table.truth-table th.border, table.truth-table td.border, table.truth-table-1 th.border, table.truth-table-1 td.border {
    border-left: thin solid black; }

table tr.highlight td {
  background-color: #FFFF00; }

table.truth-table-1 td:last-child, table.truth-table-1 th:last-child {
  border-left: thin solid black; }

table.border-right-column-1 td:nth-child(1), table.border-right-column-1 th:nth-child(1) {
  border-right: thin solid black; }

table.border-right-column-2 td:nth-child(2), table.border-right-column-2 th:nth-child(2) {
  border-right: thin solid black; }

table.border-right-column-3 td:nth-child(3), table.border-right-column-3 th:nth-child(3) {
  border-right: thin solid black; }

table.border-right-column-4 td:nth-child(4), table.border-right-column-4 th:nth-child(4) {
  border-right: thin solid black; }

table.intermediate1 td:nth-last-child(2), table.intermediate1 th:nth-last-child(2) {
  border-left: thin solid black; }

table.intermediate2 td:nth-last-child(2), table.intermediate2 th:nth-last-child(2) {
  border-left: thin solid black; }
table.intermediate2 td:nth-last-child(3), table.intermediate2 th:nth-last-child(3) {
  border-left: thin solid black; }

/** @endcond */
#quiz {
  border: solid black 1pt;
  padding: 3pt 3pt 3pt 3pt;
  background: #e3fce7;
  margin: 1em 16em 1em 0;
  min-height: 25em; }
  #quiz p.answer {
    margin-left: 4.3rem;
    text-align: left;
    text-indent: -4rem; }
    #quiz p.answer span {
      font-weight: bold; }
  #quiz .option {
    width: 2em;
    text-align: right;
    display: inline-block; }

@media only screen and (max-width: 750px) {
  #quiz {
    margin-right: 5px; } }
/**
 * @file
 * Style items related to the use of IDE's
 */
p.run {
  background: url(img/runicon.png); }

p.compile {
  background: url(img/compicon16.png); }

p.vsrun {
  background: url(img/vsrunicon16.png); }

p.vsbuild {
  background: url(img/vsbuildicon16.png); }

p.run, p.compile, p.vsrun, p.vsbuild {
  vertical-align: middle;
  margin-left: 1em;
  margin-right: 1em;
  min-height: 16px;
  background-repeat: no-repeat;
  background-position: 5px 6px;
  background-color: #ddffdd;
  padding: 5px 5px 5px 25px; }

div.toggle > :first-child {
  background-image: url("images/plus.png");
  background-repeat: no-repeat;
  padding-left: 1.4em;
  background-position: left 0.15em;
  background-size: 1.2em; }
  div.toggle > :first-child a:hover {
    text-decoration: none;
    color: #006600; }
div.toggle > .visible {
  background-image: url("images/minus.png"); }
div.toggle > div {
  display: none; }

div.toggleblock {
  position: relative;
  overflow: auto;
  background: #f0f0f0;
  color: #000000;
  padding: 5px;
  margin-bottom: 6pt;
  border: 1pt gray solid;
  word-wrap: normal; }

/**
 * @file
 * Presentation of video scripts.
 */
div.script p.Dialog {
  margin-left: 72pt;
  margin-right: 72pt; }

div.script h4, div.script p.Shot {
  text-transform: uppercase;
  font-size: 10pt;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  font-style: normal;
  font-weight: normal; }

p.powerpoint {
  position: relative;
  height: 50px;
  text-align: center; }
  p.powerpoint a {
    display: inline-block;
    height: 50px;
    background-image: url("images/powerpointicon-1.png");
    background-size: 52px 50px;
    background-repeat: no-repeat;
    padding-left: 57px;
    padding-top: 15px; }

.rightbox, .rightboxprimary, .rightboxseconda, .rightboxsecondb, .rightboxcomp,
.centerbox, .centerboxprimary, .centerboxseconda, .centerboxsecondb,
.centerboxcomp, .advice, .problem, .scenario, .blindblock, aside, iframe, textarea, div.toggleblock, pre.code, textarea.code, figure img, img.figure, p.figure img, p.borderfigure img, p.rightfigure img, figure.submitfigure, .shadow, table {
  -moz-box-shadow: 3px 3px 8px #ccc;
  -webkit-box-shadow: 3px 3px 8px #ccc;
  box-shadow: 3px 3px 8px #ccc;
  margin-bottom: 1em; }

div.remote-exec .left textarea, div.remote-exec .right pre, div.play-area .left textarea, div.play-area .right pre, .noshadow, .noshadow img {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.primary {
  background: #00723f;
  color: white; }

.seconda {
  background: #00909e;
  color: white; }

.secondb {
  background: #fcaf17;
  color: black; }

.comp {
  background: #c41425;
  color: white; }

.blindblock {
  background: #efc6ff;
  color: black; }

.comp a:link,
.primary a:link,
.seconda a:link {
  color: white; }

.comp a:visited,
.primary a:visited,
.seconda a:visited {
  color: #dddddd; }

.secondb a:visited {
  color: #555555; }

.comp a:hover {
  color: yellow; }

.blu {
  color: #0000cc; }

.white {
  color: white; }

.red {
  color: #ff0000; }

.grn {
  color: #008800; }

.clicktoexpand {
  font-weight: normal;
  font-size: 10pt; }

div.editor {
  margin-left: auto;
  margin-right: auto;
  width: 80%; }

div.editor textarea {
  border-top: 5pt solid #cccccc; }

div.editor_small {
  margin-left: auto;
  margin-right: auto;
  width: 80%; }

div.bdblock {
  margin-left: 1%;
  margin-right: 1%;
  background: #FFCfF9;
  padding: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  border: 1px gray solid;
  overflow: auto;
  color: black; }

p.submitfigure {
  text-align: center;
  overflow: auto;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid black;
  -moz-box-shadow: 8px 8px 8px #888;
  -webkit-box-shadow: 8px 8px 8px #888;
  box-shadow: 8px 8px 8px #888;
  margin-bottom: 1em; }

p.submitfigure img {
  margin-top: 5px;
  margin-bottom: 5px; }

form.checklist {
  padding-left: 3em;
  padding-right: 3em;
  border: thin solid black;
  background-color: #f0f8f0; }
  form.checklist p {
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    position: relative; }
  form.checklist input[type="checkbox"] {
    position: absolute;
    left: -1.5em;
    top: 0.25em; }

form {
  position: relative;
  max-width: 100%; }

form.border {
  border: 1px solid silver; }

form fieldset {
  /*width: 100%; */
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

form.fileform {
  margin-left: 2em;
  margin-right: 2em;
  border: 1px solid black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  -moz-box-shadow: 8px 8px 8px #888;
  -webkit-box-shadow: 8px 8px 8px #888;
  box-shadow: 8px 8px 8px #888; }

div.content > form.fileform {
  margin-right: 18em; }

p.reviewsappear {
  text-align: center;
  background: #00723f;
  color: white; }

p.content > div.reviews, p.content > p.reviewsappear {
  margin-left: 1em;
  margin-right: 17em; }

p.reviewhead {
  color: #009966;
  font-size: 8pt;
  font-style: italic; }

span.staffreview {
  color: red; }

input.file, input.upload {
  font: 9pt helvetica,sans-serif;
  margin-left: 5px; }

input.file {
  width: 20em; }

input.submit {
  font-weight: bold; }

div.selectors {
  margin-top: 4pt; }

div.selectors p, div.selectors form {
  display: inline; }

textarea {
  width: 100%;
  background-color: #e2fff7; }

p.test {
  text-align: center;
  color: green; }

.error {
  color: #ff0000;
  font-style: italic;
  font-size: 0.9em; }

.disabled {
  opacity: 0.5; }

.skype_hours {
  font-size: 0.9em;
  padding-left: 2em;
  font-style: italic; }

div.twocolumn {
  position: relative;
  display: table-row; }
  div.twocolumn .left30 {
    display: table-cell;
    width: 30%; }
  div.twocolumn .left35 {
    display: table-cell;
    width: 35%; }
  div.twocolumn .left {
    display: table-cell;
    width: 50%; }
  div.twocolumn .right {
    display: table-cell; }

.staff {
  display: table;
  margin: 0 auto; }
  .staff .instructor, .staff .ta {
    display: table-row;
    padding: 1em 0; }
  .staff img {
    display: table-cell;
    vertical-align: middle;
    width: 150px;
    height: auto;
    padding: 0.5em 1em 0.5em 0; }
  .staff .info {
    display: table-cell;
    vertical-align: middle; }

/*# sourceMappingURL=site.css.map */
