div.cl-lti-admin {
  div.adminhome {
    max-width: 500px;
    border: thin solid black;
    padding: 1em;
    margin: 1em auto;

    h2 {
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      font-size: 1.5em;
      text-align: center;
    }
  }

}