div.cl-autoback {
  p {
    padding-top: 0;
  }

  a, a:visited, a:link {
    color: $autoback-link;
  }

  a:hover {
    color: $autoback-link-hover;
  }
}

a.cl-backto, p.cl-backto a {
  display: inline-block;
  background-image: url('./img/backarrow.png');
  background-repeat: no-repeat;
  background-size: auto 1.6em;
  padding: 0.13em 0 0 2.6em;
  height: 1.6em;

  color: $autoback-link;
}

p.cl-backto {
  margin-top: 0;
  margin-bottom: 0;
}

a.cl-backto:hover {
  color: $autoback-link-hover;
}
