/*
 * Standard site cards.
 */

div.cl-card {
  @extend %shadow;
  border: 1px $card-border-color solid;

  h2 {
    font-family: sans-serif;
    font-size: 1.3em;
    border-bottom: none;
    background: $card-heading-background;
    padding: $card-padding;
    margin: 0;

    img {
      display: none;
      vertical-align: middle;
    }
  }

  li {
    font-size: 1em;
    margin-right: 10pt;
  }


  span.staff-note {
    font-size: 0.7em;
    font-style: italic;
    white-space: nowrap;
  }
}