img {
  max-width: 100%;
  height: auto;
}

figure img, img.figure, p.figure img, p.borderfigure img, p.rightfigure img {
  @extend %shadow;
}

figure {
  box-sizing: border-box;
  margin: 1em 0;
  text-align: center;
}

figure.float-right {
  width: $aside-width;
  float: right;
  padding: 0;
  right: 0;
  margin: 0;
  text-align: center;

  figcaption {
    font-size: 0.9em;
    font-style:italic;
    margin-top: 0;
  }
}

figure.border {
  border: 0;

  img {
    border: 1px solid black;
  }
}

figure.scroll {
  overflow-x: auto;

  img {
    max-width: none;
  }
}

.right figure img {
  max-width: 15em;
  height: auto;
}

img.inline-image {
  vertical-align:baseline;
}

p.figure, p.borderfigure, p.figurenoshadow {
   text-align:center;
   overflow:auto;
 }

p.borderfigure img {
  border: 1px solid black;
}

p.figure, p.borderfigure {
  padding-bottom:10pt;
  margin-bottom:-10pt;
}
