// A mono-spaced font used for code presentation
@font-face {
  font-family: 'Inconsolata';
  src: url('fonts/Inconsolata-Regular.ttf') format('truetype'),
  url('fonts/Inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/Inconsolata-webfont.woff') format('woff'),
  url('fonts/Inconsolata-webfont.svg') format('svg'); /* fonts/Inconsolata-webfont.svg#InconsolataMedium */
  font-weight: normal;
  font-style: normal;
}
