
footer.cl-site {
  margin: 0 auto;
  padding: $padding;
  min-width: $min-width;
  max-width: $max-width;
  width: 100%;

  p {
    margin: 0;
    font-size: 0.85em;
    text-align: right;
  }

  border-top: 1px solid black;
}