header.cl-site {
  color: $header-text;
  background-color: $header-background;
  margin: 0 auto;
  padding: 0;
  min-width: $min-width;
  width: 100%;
  border-bottom: 1px solid black;

  div.heading {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
  }

  h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2em;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;

    a {
      text-decoration: none;
      color: $header-text;
    }
  }
}

@media only screen and (max-width: $narrow-width) {
  div.heading {
    h1 {
      font-size: 1.3em;
    }
  }
}

