
div.cl-hot {
  display: inline-block;
  max-width: 65%;
  min-height: 45px;
 // margin: 0 auto;
  background: #ffffff url('img/hot.gif') no-repeat left center;
  padding-left: 85px;

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  p {
    margin: 0;
  }
}
