div.cl-menu {
  position: relative;

  > a {
  }

  > a.float-right {
    display: inline-block;
    float: right;
    padding-left: 0.5em;
  }

  ul {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: $menu-background;
    list-style-type: none;
    list-style-image: none;
    z-index: 120;
    padding: 0; // 0.25em 0.5em;
    margin: 0;
    border: 1px solid $menu-background;

    > li {
      display: table-row;
      list-style-type: none;
      list-style-image: none;
      white-space: nowrap;
      line-height: 18px;

      > a {
        display: table-cell;
        padding: 2px 0.5em;
        text-decoration: none;
        color:$link;
        font-style: normal;
        text-shadow: none;
        font-weight: normal;
      }

      > a {

      }

      > a:link {
        color: $link;
      }

      > a:visited {
        color: $visited;
      }

      > a:hover {
        color: $hover;
      }
    }

    >li:hover {
      background-color: $menu-hover;
    }

  }

  li img {
    width: 16px;
    height: 16px;
    vertical-align: top;
    max-width: none;
  }

  li span.menusep {
    display: table-cell;
    background: black;
    height: 1px;
    margin: 5px 0;
  }

  .only {
    width: 8em;
    padding-left: 5px;
    font-size: 90%;
    font-style: italic;
  }
}
