p.powerpoint {
  position: relative;
  height: 50px;
  text-align: center;

  a {
    display: inline-block;
    height: 50px;
    background-image: url('images/powerpointicon-1.png');
    background-size: 52px 50px;
    background-repeat: no-repeat;
    padding-left: 57px;
    padding-top: 15px;
  }
}
