
p.shoutout {
  text-align:center;
  font-size: 1.3em;
  font-weight: bold;
}

.center {
  text-align: center;
}

.large {
  font-size: 1.5em;
}

.small {
  font-size: 0.85em;
}

.setoff {
  margin-top: 2em;
  margin-bottom: 2em;
}