
p.shoutout {
  text-align:center;
  font-size: 1.3em;
  font-weight: bold;
}

.center {
  text-align: center;
}

.right-justify {
  text-align: right;
}

.large {
  font-size: 1.5em;
}

.small {
  font-size: 0.9em;
}

.smaller {
  font-size: 0.85em;
}

.tiny {
  font-size: 0.7em;
}

.setoff {
  margin-top: 2em;
  margin-bottom: 2em;
}

input[type=checkbox] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

.center {
  text-align:center;
}

div.center p {
  text-align: center;
}

div.cl-center-in {
  text-align: center;
}

span.underline {
  text-decoration: underline;
}

.cl-inline {
  display: inline-block;
}

.cl-inline-padded {
  display: inline-block;
  padding: 1.5em 0 2em 0;
}

.cl-double-space {
  line-height: 2;
}