/**
 * @file
 * Default style for tables for a CourseLib site
 * @cond
 */
table {
  margin: 1em auto;
  @extend %shadow;

  border-collapse: separate;
  border-spacing: 0;

  tr {
    th {
      color: white;
      background: $table-gradient-to;
      text-shadow: rgba(0,0,0,.4) 0 1px 0;
      border-right: 1px solid #C1DAD7;
      border-bottom: 1px solid #C1DAD7;
      letter-spacing: 1px;
      text-align: right;
      padding: 0.25em 6px;

      font-family: Helvetica, Arial, sans-serif;
      text-decoration: none;

      input[type=checkbox] {
        margin-top: 3px;
      }
    }

    th.center {
      text-align: center;
    }
  }

  tr:first-child, tr.cl-internal {
    th {
      color: white;
      background: $table-gradient-from;
      background: linear-gradient($table-gradient-from, $table-gradient-to);
      text-shadow: rgba(0,0,0,.4) 0 1px 0;
      border-right: 1px solid #C1DAD7;
      border-bottom: 1px solid #C1DAD7;
      border-top: 1px solid #C1DAD7;
      letter-spacing: 1px;
      text-align: left;
      padding: 2px 6px;
      font-family: Helvetica, Arial, sans-serif;
      text-decoration: none;

      > a:link {
        color: #F5F3EB;
      }

      > a:visited {
        color: #E3DCC5;
      }

      > a:hover {
        color: #ffffff;
      }
    }

    th.center {
      text-align: center;
    }

    th.right {
      text-align: right;
    }
  }

  th.width40 {
    width: 20%;
  }

  th.width40em {
    width: 40em;
  }

  th.width20em {
    width: 20em;
  }

  td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #ffffff;
    padding: 0.25em 0.5em;
    color: #4f6b72;

    a {
      color:$link;
    }

    a:link {
      color: $link;
      text-decoration:underline;
    }

    a:visited {
      color: $visited;
      text-decoration:underline;
    }

    a:hover {
      color: $hover;
    }
  }

  td.right {
    text-align: right;
  }

  tr.divider {
    td {
      border-top: 2px solid #444;

    }
  }

  tr.vertical {
    th {
      min-width: 3em;
      white-space: nowrap;
      position: relative;
      vertical-align: bottom;

      div {
        position: absolute;
        transform: translate(-6.5em, -6.5em) rotate(-90deg);
        width: 13em;
        z-index: 10;
        left: 50%;
        bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    height: 13em;
  }

  tr.vertical.narrow {
    th {
      min-width: 0;
    }
  }

  td.colhead {
    border: 1px solid #E6F0EF;
    border-right-color: #A8CCC8;
    border-bottom-color: #A8CCC8;
    padding-right:10px;
    padding-left:10px;
  }

  td.indent {
    padding-left: 2em;
  }

  td.grouphead {
    padding-left: 0.5em;
    font-style:italic;
  }

  tr.skip {
    border: none;
  }

}

table.wide {
  width:80%;
}

table.widest {
  width: 100%;
}

table tr.highlight td {
  background-color: #FFFF00;
}

table.cl-expand {
  border: 1em solid white;
}

table.cl-no-center {
  margin-left: 0;
  margin-right: 0;
}


/** @endcond */

