div.toggle {

  >:first-child {
    background-image: url('img/plus.png');
    background-repeat: no-repeat;
    padding-left: 1.4em;
    background-position: left 0.15em;
    background-size: 1.2em;

    a {
      text-decoration: none;
      color: inherit;
    }

    a:link {

    }

    a:hover {
      text-decoration: none;
      color: $toggle-link-hover-color;
    }
  }

  > .visible {
    background-image: url('img/minus.png');
  }

  >div {
    transform-origin: top left;
    display: none;
    overflow-y: hidden;
  }
}

div.toggleblock {
  @extend %shadow;
  position: relative;
  overflow:auto;
  background:#f0f0f0;
  color: #000000;
  padding: 5px;
  margin-bottom:6pt;
  border: 1pt gray solid;
  word-wrap:normal;
}
