/*
 * Custom styling for toggle blocks, mostly to add the shadow.
 */
div.cl-toggleblock {
  @extend %shadow;
  position: relative;
  overflow:auto;
  background:#f0f0f0;
  color: #000000;
  padding: 5px;
  margin-bottom:6pt;
  border: 1pt gray solid;
  word-wrap:normal;
}
