table.truth-table, table.truth-table-1 {
  border: 0;


  tr:first-child {

    td, th {
      color: black;
      background: white;
      text-align: center;
      border: 0;
      text-shadow: none;
      font-weight: bold;
      border-bottom: 1px solid black;
    }
  }


  tr.split {
    border-bottom: thin dotted #888888;
  }

  th {
    color: black;
    background: white;
    text-align: center;
    border: 0;
    text-shadow: none;
    font-weight: bold;
  }

  td {
    text-align: center;
    border: 0;

    input {
      width: 3em;
      text-align: center;
    }
  }

  th.border, td.border {
    border-left: thin solid black;
  }
}

// Truth table with one output
table.truth-table-1 {
  td:last-child, tr th:last-child {
    border-left: thin solid black;
  }


}

table.border-right-column-1 {
  td:nth-child(1), tr th:nth-child(1) {
    border-right: thin solid black;
  }
}


table.border-right-column-2 {
  td:nth-child(2), tr th:nth-child(2) {
    border-right: thin solid black;
  }
}


table.border-right-column-3 {
  td:nth-child(3), tr th:nth-child(3) {
    border-right: thin solid black;
  }
}


table.border-right-column-4 {
  td:nth-child(4), tr th:nth-child(4) {
    border-right: thin solid black;
  }
}


table.intermediate1 {
  td:nth-last-child(2), tr th:nth-last-child(2) {
    border-left: thin solid black;
  }
}

table.intermediate2 {
  td:nth-last-child(2), tr th:nth-last-child(2) {
    border-left: thin solid black;
  }

  td:nth-last-child(3), tr th:nth-last-child(3) {
    border-left: thin solid black;
  }
}

tr.ignore {
  td {
    background-color: $very-light-primary;
  }
}