.skype_hours {
  font-size: 0.9em;
  padding-left: 2em;
  font-style: italic;
}

.staff {
  display: table;
  margin: 0 auto;

  .instructor, .ta {
    display: table-row;
    padding: 1em 0;
  }

  img {
    display: table-cell;
    vertical-align: middle;
    width: 150px;
    height: auto;
    padding: 0.5em 1em 0.5em 0;
  }

  .info {
    display: table-cell;
    vertical-align: middle;
  }
}
