

.clicktoexpand {
  font-weight:normal;
  font-size:10pt;
}

div.editor {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

div.editor textarea {
  border-top: 5pt solid #cccccc
}

div.editor_small {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


div.bdblock {
  margin-left:1%;
  margin-right:1%;
  background:#FFCfF9;
  padding: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  border: 1px gray solid;
  overflow:auto;
  color:black;
}


p.submitfigure {
  text-align:center;
  overflow:auto;
  margin-left:5%;
  margin-right:5%;
  border: 1px solid black;
  -moz-box-shadow: 8px 8px 8px #888;
  -webkit-box-shadow: 8px 8px 8px #888;
  box-shadow: 8px 8px 8px #888;
  margin-bottom:1em;
}

p.submitfigure img {
  margin-top: 5px;
  margin-bottom: 5px;
}

form.checklist {
  padding-left: 3em;
  padding-right: 3em;
  border: thin solid black;
  background-color: #f0f8f0;

  p {
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    position: relative;
  }

  input[type="checkbox"] {
    position: absolute;
    left: -1.5em;
    top: 0.25em;
  }
}

form {
  position: relative;
  max-width: 100%;
}

form.border {
  border: 1px solid silver;
}

form fieldset {
  /*width: 100%; */
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

form.fileform {
  margin-left:2em;
  margin-right:2em;
  border: 1px solid black;
  padding-top:0.5em;
  padding-bottom:0.5em;
  text-align:center;
  -moz-box-shadow: 8px 8px 8px #888;
  -webkit-box-shadow: 8px 8px 8px #888;
  box-shadow: 8px 8px 8px #888;
}

div.content > form.fileform {
  margin-right: 18em;
}

p.reviewsappear {
  text-align:center;
  background: #00723f;
  color:white;
}

p.content > div.reviews, p.content > p.reviewsappear {
  margin-left:1em;
  margin-right:17em;
}

p.reviewhead {
  color:#009966;
  font-size:8pt;
  font-style:italic;
}

span.staffreview {
  color:red;
}

input.file, input.upload {
  font: 9pt helvetica,sans-serif;
  margin-left:5px;
}

input.file {
  width: 20em;
}

input.submit {
  font-weight:bold;
}




div.selectors {
  margin-top: 4pt;
}

div.selectors p, div.selectors form {
  display: inline;
}

textarea {
  width: 100%;
  background-color: #e2fff7;
}

p.test {
  text-align:center;
  color:green;
}

.error {
  color: #ff0000;
  font-style: italic;
  font-size: 0.9em;
}

.disabled {
  opacity: 0.5;
}

.skype_hours {
  font-size: 0.9em;
  padding-left: 2em;
  font-style: italic;
}

div.twocolumn {
  position: relative;
  display: table-row;

  .left30 {
    display: table-cell;
    width: 30%;
  }

  .left35 {
    display: table-cell;
    width: 35%;
  }


  .left {
    display: table-cell;
    width: 50%;
  }

  .right {
    display: table-cell;
  }
}


.staff {
  display: table;
  margin: 0 auto;

  .instructor, .ta {
    display: table-row;
    padding: 1em 0;
  }

  img {
    display: table-cell;
    vertical-align: middle;
    width: 150px;
    height: auto;
    padding: 0.5em 1em 0.5em 0;
  }

  .info {
    display: table-cell;
    vertical-align: middle;
  }
}
