// The major colors
// We have a primary color, two secondary colors, and a complementary color.
$accent: #607D8B;

$toast-background: #151515;
$toast-text: white;

$header-background: #535054;
$header-text: #eeeeee;

// The major colors
// We have a primary color, two secondary colors, and a complementary color.
$primary: #00723f;
$light-primary: #44a26b;
$very-light-primary: #e8f7f3;
$dark-primary: #005223;
$primary-text: #212121;

$seconda: #00909e;
$secondb: #fcaf17;
$secondc: #c89a58; // #e8d9b5;

$comp: #c41425;
$blind: #efc6ff;

// Menus
$focus: #008183;
$menu-background: #e8e8e8;
$menu-hover: #d0d0d0;
$menu-color: black;

// Page background
$background: #eeeeee;

// Nav
$nav-color: white;
$nav-background: url('img/nav_pattern.png');
$nav-2-color: #ffff99;
$nav-2-background: url('img/nav_pattern-2.png');

// Tables
$table-gradient-from: #204c42;
$table-gradient-to: #389b54;

// Dialog boxes
$dialog-gradient-from: #204c42;
$dialog-gradient-to: #389b54;
$dialog-bar-color: white;

// Link colors
$link: #808080;
$visited: #968443;  // #b09d5b;
$hover: #3366cc;

$very-light-primary-link: #900000;
$very-light-primary-hover: #c00000;


$primary-link: white;
$primary-visited: #dddddd;
$secondb-visited: #555555;
$autoback-link: #882222;
$autoback-link-hover: #cc2222;

$shadow-x: 3px;
$shadow-y: 3px;
$shadow-radius: 8px;
$shadow-color: #ccc;

$toggle-link-hover-color: #006600;

// Boxes
$box-border-color: #666666;

// Cards
$card-heading-background: #f2f2f2;
$card-border-color: #cccccc;

%shadow {
  -moz-box-shadow: $shadow-x $shadow-y $shadow-radius $shadow-color;
  -webkit-box-shadow: $shadow-x $shadow-y $shadow-radius $shadow-color;
  box-shadow: $shadow-x $shadow-y $shadow-radius $shadow-color;
}

%noshadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
