$min-width: 320px;
$max-body: 1000px;

$padding: 8px;

$margin: 10px;
$margin-mobile: 5px;
$right-margin: 16em;
$right-margin-mobile: 5px;

$medium-width: 750px;
$narrow-width: 500px;
$very-narrow-width: 400px;
$wide-width: 900px;
$max-width: 56em;

$aside-width: 15.5em;   // Width of asides
$aside-padding: 10px;

$box-padding: 8px;

// Cards
$card-padding: $margin;
